In [12]:
import pandas as pd
import numpy as np

In [13]:
df_members = pd.read_csv('../data/Members.csv')

In [14]:
df_members.dtypes

MemberID            int64
AgeAtFirstClaim    object
Sex                object
dtype: object

In [15]:
df_members.head()

   MemberID AgeAtFirstClaim Sex
0  14723353           70-79   M
1  75706636           70-79   M
2  17320609           70-79   M
3  69690888           40-49   M
4  33004608             0-9   M

In [16]:
def count_nulls(df):
    null_counter = df.isnull().sum(axis=0)
    #null_counter = null_counter[null_counter > 0]
    null_percent = df.isnull().sum(axis=0) / df.shape[0] * 100
    #null_percent = null_percent[null_percent > 0]
    null_df = pd.concat([null_counter,null_percent],axis=1)
    null_df.columns = ['null_count','null_percent']
    display(null_df)
    
count_nulls(df_members)

                 null_count  null_percent
MemberID                  0      0.000000
AgeAtFirstClaim        5753      5.091150
Sex                   17552     15.532743

In [17]:
# AgeAtFirstClaim
   # Convert from text to binary

def updateAge():
    df_members['age_0-9'] = np.where(df_members['AgeAtFirstClaim']=='0-9', 1, 0)
    df_members['age_10-19'] = np.where(df_members['AgeAtFirstClaim']=='10-19', 1, 0)
    df_members['age_20-29'] = np.where(df_members['AgeAtFirstClaim']=='20-29', 1, 0)
    df_members['age_30-39'] = np.where(df_members['AgeAtFirstClaim']=='30-39', 1, 0)
    df_members['age_40-49'] = np.where(df_members['AgeAtFirstClaim']=='40-49', 1, 0)
    df_members['age_50-59'] = np.where(df_members['AgeAtFirstClaim']=='50-59', 1, 0)
    df_members['age_60-69'] = np.where(df_members['AgeAtFirstClaim']=='60-69', 1, 0)
    df_members['age_70-79'] = np.where(df_members['AgeAtFirstClaim']=='70-79', 1, 0)
    df_members['age_80+'] = np.where(df_members['AgeAtFirstClaim']=='80+', 1, 0)
    df_members['age_MISS'] = np.where(df_members['AgeAtFirstClaim'].isnull(), 1, 0)
    return

updateAge()

In [18]:
# Sex
   # Convert from text to binary

def updateSex():
    df_members['sexMALE'] = np.where(df_members['Sex']=='M', 1, 0)
    df_members['sexFEMALE'] = np.where(df_members['Sex']=='F', 1, 0)
    df_members['sexMISS'] = np.where(df_members['Sex'].isnull(), 1, 0)
    return

updateSex()

In [19]:
# Export to csv for further processing
df_members.to_csv("processed-data/new_members.csv", index=False)